.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 1rem;
}

.my-link:hover{
  color: aqua !important;
  transform: scale(1.3);
}



