* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans;
    background-color: rgb(129, 181, 181);
}
a{
  text-decoration: none;
  
}

a:hover{
  color: red;
}

img{
  width: 100%;
  height: auto;
  display: block;
}

html{
  scroll-behavior: smooth;
}